<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{ `Nilai a : ${a}` }}</h1>
        <h1>{{ `Rata-rata : ${rata_rata}` }}</h1>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
        a: 0,
        total: 0,
        },
    computed: {
        rata_rata() {
        let rata_rata = this.a / this.total
        return (Number.isNaN(rata_rata)) ? 0 : rata_rata
        }
    },
    methods: {
        openForm() {
        this.a = 0
        this.total = 0
        while (this.a < 10) {
        let inputA = prompt("Masukkan nilai a")
        if (Number(inputA)) { 
        this.a = Number(inputA) + this.a
        this.total++
            }
        }
    }
    }
    })
</script>
</body>

</html>