<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 2</title>
</head>

<body>
    <div id="app">
        <input type="text" name="search" placeholder="Ketikkan kata" v-model="inputData">
        <button v-if="Button == 'add'" @click="save">{{ Button }}</button>
        <button v-else-if="Button == 'update'" @click="update" v-bind:value="indexArray">{{ Button }}</button>
        <ul>
            <li v-for="(user,index) in users">
                {{ user.name }}
                &nbsp;&nbsp;&nbsp;
                <button @click="edit" v-bind:value="index">Edit</button> ||
                <button @click="remove" v-bind:value="index">Delete</button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
        users: [
            { 'name': 'Muhammad Iqbal Mubarok' },
            { 'name': 'Ruby Purwanti' },
            { 'name': 'Faqih Muhammad' },
            ],
        Button: 'add',
        inputData: "",
        indexArray: ""
        },
        methods: {
            save() {
                if (this.inputData !== "") {
                    this.users.push({ 'name': this.inputData })
                    this.inputData = ""
                }
            },
            edit(event) {
            this.Button = "update"
            this.inputData = this.users[event.target.value].name
            this.indexArray = event.target.value
            },
            update() {
                this.users[this.indexArray].name = this.inputData
                this.Button = "add"
                this.inputData = ""
            },
            remove() {
                let konfir = confirm("Anda Yakin???")
                if (konfir) {
                    this.indexArray = event.target.value
                    this.users.splice(this.indexArray, 1)
                    }
            }
            }
        })
    </script>
</body>

</html>