<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 9 & 10</title>
</head>
<body>
    <div id="app">
        <input type="text" name="search" placeholder="Ketikkan kata kunci" v-model="searchParameter">
        <ul>
            <li v-for="book in booksFilter">{{ book }}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
        books: [
                'Kalkulus Dasar',
                'Fisika Dasar',
                'Aljabar Linier Elementer',
                'Aljabar Abstrak',
                'Algoritma Pemrograman'
                ],
            searchParameter: ""
        },
        computed: {
            booksFilter() {
				let aryBooks = this.books.filter((item) => {
					if ((item.toLowerCase().indexOf(this.searchParameter.toLowerCase()) != -1)) {
						return item
					}
				})
				return aryBooks
            }
        }
    })
    </script>
</body>
</html>